@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@charset "UTF-8";
html {
  font-size: 16px;
}
/*font-family: 'Roboto', sans-serif;*/
body{
  color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 31px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  color: #000;
  font-family: 'Helvetica Neue', sans-serif;
}
ul {
  padding: 0;
}
ul > li {
  list-style-type: none;
}
a{
  color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}
a:hover {
  text-decoration: none;
}
.din-block {
  display: inline-block;
}
.fl-left {
  float: left;
}

._fbig {
  font-size: 92px;
  color: #009051;
}
.mb-25 {
  margin-bottom: 25px;
}

.mb-35 {
  margin-bottom: 35px;
}
/*heading css start*/
.head{
    
}
.logo-container{
    padding: 40px 0 30px;
}
.search-form{
    padding: 15px 0 0;
}
.search-form .form-group{
    padding-right: 15px;
}
.search-input{
    min-height: 40px;
    font-size: 12px;
    background: #f0f0f0;
}
.search-icon{
    background: #0f0478;
    border: 1px solid #0f0478;
}
.search-icon i{
    color: #fff;
    font-size: 18px;
}
.nav-bg{
    background: #0f0478;
    margin-bottom: 30px;
}
.navbar-nav>li>a {
    color: #fff;
    font-size: 12px;
    padding: 10px 21px;
    text-transform: uppercase;
}
.navbar-nav>li>a:hover{
    color: #000;
}
.navbar-toggle{
    background: #0f0478;
    border: 1px solid #0f0478;
}
.navbar-toggle .icon-bar{
    background: #fff;
}
/*heading css end*/

/*heading slider with news section start here*/
.heading-slider{
    padding-bottom: 10px;
}
.owl-heading-slider{            /*owl-heading-slider start */
    margin-right: 30px;
}
.owl-heading-slider.owl-theme{
    position: relative;
}
.owl-heading-slider.owl-theme .owl-nav{
    width: 100%;
    position: absolute;
    top: 49%;
}
.owl-heading-slider.owl-theme .owl-nav .owl-prev{
    float: left;
}
.owl-heading-slider.owl-theme .owl-nav .owl-next{
    float: right;
}
.owl-heading-slider.owl-theme .owl-controls .owl-nav [class*=owl-]{
    background: #0f0478;
    padding: 3px 10px;
}
.owl-heading-slider.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
    background: #0f0478;
}
.owl-heading-slider.owl-theme .owl-controls .owl-nav [class*=owl-] i{
    font-size: 25px;
    line-height: 1.5;
}                               /*owl-heading-slider end */
.heading-slider-single{
    text-align: center;
    background: url(../img/slider-1.png) center center no-repeat;
    padding: 80px 0;

}
.slider-title{
    font-size: 36px;
    background: rgba(15, 4, 120, 0.7);
    color: #fff;
    max-width: 400px;
    margin: auto;
    padding: 44px 0px;
}

.recent-news{
    border-left: 1px solid #efefef;
    padding-left: 30px;

}
.recent-news-title{
    color: #0f0478;
    font-size: 21px;
    margin-bottom: 30px;
    margin-top: 0;
}
.news-container{
    overflow-y: auto;
    max-height: 295px;
}
.single-news{
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px;
}
.single-news h4{
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}
/*heading slider with news section end here*/

/*welcome area start here*/
.bkmea-title{
    color: #0f0478;
    font-size: 31px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px;
}
.welcome-text{

}
/*welcome area end here*/

/*in-a-glance start here*/
.in-a-glance{

}
.in-a-glance-single{
    display: block;
    position: relative;
    margin-bottom: 30px;
}
.glance-single-caption{
    font-size: 21px;
    border-top: 1px solid #ffffff;
    position: absolute;
    bottom: 15px;
    left: 10%;
    color: #fff;
    width: 80%;
    padding-bottom: 10px;
}
.glance-single-caption ._glance-text {
  color: #fff;
  font-size: 21px;
  margin: 0;
}
/*in-a-glance end here*/

/*Global Buyers’ and Publications start here*/
.read-more{
    margin-top: 9px;
    margin-bottom: 15px;
    color: #0f0478;
    border: 2px solid #0f0478;
    padding: 5px 20px;
    transition: all .3s ease;
    display: inline-block;
}
.read-more:hover{
    border: 2px solid #0f0478;
    color: #0f0478;
    transition: all .3s ease;
}
.owl-publication{           /*owl-heading-slider start */
    max-width: 250px;
    margin: auto;
}
.owl-publication.owl-theme{
    position: relative;
}
.owl-publication.owl-theme .owl-nav{
    width: 100%;
    position: absolute;
    top: 45%;
}
.owl-publication.owl-theme .owl-nav .owl-prev{
    float: left;
    margin-left: -50px;
}
.owl-publication.owl-theme .owl-nav .owl-next{
    float: right;
    margin-right: -50px;
}
.owl-publication.owl-theme .owl-controls .owl-nav [class*=owl-]{
    background: #0f0478;
    padding: 3px 10px;
}
.owl-publication.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
    background: #0f0478;
}
.owl-publication.owl-theme .owl-controls .owl-nav [class*=owl-] i{
    font-size: 25px;
    line-height: 1.5;
}                               /*owl-heading-slider end */

/*Global Buyers’ and Publications end here*/

/*our-vision start here */

.our-vision-single{
    display: block;
    position: relative;
    margin-bottom: 30px;
}
.our-vision-caption{
    font-size: 21px;
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 10px 30px;
    background: linear-gradient(rgba(146, 133, 133, 0.11), rgba(146, 133, 133, 0.37), rgba(0, 0, 0, 0.41));
    margin: 0;
}
/*our-vision end here */

/*our-partner start here */
.our-partner{
    padding-bottom: 50px;
}
.partner-img{
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px #969696;
    transition: all .3s ease;
}
.partner-img:hover{
    box-shadow: 0px 5px 10px #1d1919;
    transition: all .3s ease;
}
/*our-partner end here */

/*newspaper-gallery css start here*/
.news-paper-container{
    max-height: 234px;
    overflow-y: auto;
}
.news-title{
    font-size: 21px;
    color: #0f0478;
    margin-top: 0;
}
.owl-gallery{            /*owl-heading-slider start */
    padding-top: 10px;
}
.owl-gallery.owl-theme{
    position: relative;
}
.owl-gallery.owl-theme .owl-nav{
    width: 100%;
    position: absolute;
    top: 49%;
}
.owl-gallery.owl-theme .owl-nav .owl-prev{
    float: left;
}
.owl-gallery.owl-theme .owl-nav .owl-next{
    float: right;
}
.owl-gallery.owl-theme .owl-controls .owl-nav [class*=owl-]{
    background: #0f0478;
    padding: 3px 10px;
}
.owl-gallery.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
    background: #0f0478;
}
.owl-gallery.owl-theme .owl-controls .owl-nav [class*=owl-] i{
    font-size: 25px;
    line-height: 1.5;
}                               /*owl-heading-slider end */
.view-full{
    margin-top: 20px;
}
/*newspaper-gallery css end here*/

/*footer css start*/
.footer-title{
    color: #0f0478;
    font-size: 21px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px;
}
.footer-list{

}
.footer-list li a{
    color: #666666;
}
.bold-text{
    color: #0f0478;
    font-weight: 600;
}
.footer-nav{
    margin: 20px 0;
}
.footer-nav a{
    color: #666666;
    padding-right: 10px;
}
.footer-nav a i{
    font-size: 25px;
}
.footer-bottom{
    padding: 15px 0;
    border-top: 1px solid #efefef;
}
.power{
    text-align: right;
}
.authlab{
    color: #0f0478;
    font-weight: 500;
}
/*footer css end here*/

/*responsive css start*/
@media (max-width: 767px){
    /*header responsive css*/
    .search-form {
        padding: 0;
    }
    .nav-bg{
        background: #fff;
    }
    .navbar-nav>li>a{
        color: #0f0478;
        text-align: right;
    }

    /*news and gallery responsive css*/
    .bangla-news{
        margin-top: 40px;

    }
}
/*responsive css end*/

.navbar-brand {
  float: none;
  height: auto;
  padding: 10px 0;
  font-size: 18px;
  line-height: 20px;
}
.vc_column_container>.vc_column-inner {
    padding: 0!important;
}
.owl-partner-slider {
  margin-left: -15px;
}
.item.single_img {
  margin-left: 15px;
  margin-right: 15px;
  margin-top : 1px;
}


.welcome-text {
    margin-bottom: 25px;
}

.partner-img {
  margin-bottom: 20px;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.19),1px 0 5px rgba(0, 0, 0, 0.18); 
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
  margin-bottom: 25px;
}


.input-group-addon {
    padding: 6px 17px; 
    position: relative;
    z-index: 111;
}

@media (max-width: 767px) {
  .input-group .form-control {
    max-width: 90%;
  }
  .form-control.search-input {
    position: absolute;
    width: 0%;
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 1;
    /*visibility: hidden;*/
    opacity: 0;
    left: 11px;
    right: initial;
  }

  .show-search .form-control.search-input {
    display: block;
    position: absolute;
    z-index: 1;
    right: 16px;
    left: initial;
    width: 90%;
    opacity: 1;
    visibility: visible;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .input-group-addon {
      padding: 10px 17px;
      width: 50px;
      height: 38px;
  }
  .input-group-addon.search-icon {
    max-width: 78px;
    overflow: hidden;
    display: block;
    margin-right: 15px;
    width: 50px;
    height: 39px;
    float: right;
    border-radius: 4px;
  }
  .logo-container .input-group {
      position: relative;
      display: table;
      border-collapse: separate;
      width: 100%;

  }
  .our-vision-single {
      display: inline-block;
  }
  .nav-bg {
    margin-bottom: 10px;
  }
  .recent-news {
    display: none;
  }
  .responsive .bkmea-title {
    margin-top: 0;
  }
  .navbar-toggle {
    padding: 11px 13px;
  }
  .logo-container {
      padding: 40px 0 10px;
  }
  .owl-partner-slider {
    margin-left: 0;
  }
}











